Package: com.gufran.cleanrider
Name: CleanRider
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Location provider tweak for Rider.
Maintainer: Gufran-Root
Author: Gufran-Root
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
